ENV=test
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=reelrecipes_test
CLERK_SECRET_KEY=sk_test_dummy
OPENAI_API_KEY=sk-test-fake-key-for-tests
NUTRITIONIX_APP_ID=test-nix-app-id
NUTRITIONIX_API_KEY=test-nix-api-key
YOUTUBE_API_KEY=fake-youtube-key
REDIS_URL=redis://localhost:6379
